<div class="locus-quantification-result-tab">
  <div class="row p-3 justify-content-between">

    <!-- Number of Genes input -->
    <div class="col-md-auto pl-3 pr-3">
      <mat-form-field>
        <mat-label>Number of Genes (for Plot)</mat-label>
        <mat-select #numGenes [(value)]="selectNumGenes" (selectionChange)="triggerReplot()" required>
          <mat-option 
            *ngFor="let num of totalNumGenesArray" 
            [value]="num">
            {{ num }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Violin-boxplot Options -->
    <div class="col-md-auto">
      <div class="row">
        <div class="col-md-auto pl-3 pr-3">
          Scale:
          <mat-button-toggle-group 
            name="fontStyle" 
            aria-label="Font Style" 
            [(ngModel)]="selectedScale" 
            (change)="triggerReplot()">
            <mat-button-toggle value="log">Log</mat-button-toggle>
            <mat-button-toggle value="linear">Linear</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="col-md-auto pl-3 pr-3">
          Median Sort:
          <mat-button-toggle-group 
            name="fontStyle" 
            aria-label="Font Style" 
            [(ngModel)]="selectedMedianSort" 
            (change)="triggerReplot()">
            <mat-button-toggle value="asc"><i class="fas fa-caret-up"></i></mat-button-toggle>
            <mat-button-toggle value="desc"><i class="fas fa-caret-down"></i></mat-button-toggle>
          </mat-button-toggle-group>

          <button mat-button (click)="resetSort()">Reset</button>
        </div>
      </div>
    </div>

    <!-- Message showing number of genes displayed and total number of genes -->
    <div class="col-md-auto pl-3 pr-3" id="display-number-genes">
      Showing <u>{{ numGenes.value }}</u> of <u>{{ totalNumGenes }}</u> genes
    </div>
    
  </div>

  <!-- Show centered Plotly locus quantification violin boxplot if graph is generated -->
  <div 
    class="d-flex justify-content-center" 
    id="qtls-locus-quantification-plot" 
    *ngIf="graph">
      <plotly-plot 
        [data]="graph.data" 
        [layout]="graph.layout" 
        [config]="graph.config">
      </plotly-plot>
  </div>
  <!-- <div 
    class="d-flex justify-content-center" 
    id="qtls-locus-quantification-plot">
  </div> -->

  <!-- Show warning message if more than 15 genes in QTLs data file -->
  <div 
    class="m-2 alert alert-warning alert-dismissible fade show" 
    role="alert"  
    *ngIf="warningMessage && !disableLocusQuantification">
    {{ warningMessage }}
    <button 
      type="button" 
      class="close" 
      data-dismiss="alert" 
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Show centered Plotly locus quantification heatmap if graph is generated -->
  <div 
    class="d-flex justify-content-center" 
    id="qtls-locus-quantification-heatmap" 
    *ngIf="heatmap">
      <plotly-plot 
        [data]="heatmap.data" 
        [layout]="heatmap.layout" 
        [config]="heatmap.config">
      </plotly-plot>
  </div>
  <!-- <div 
    class="d-flex justify-content-center" 
    id="qtls-locus-quantification-heatmap">
  </div> -->

  <br>

  <!-- <pre>{{ mainData | json }}</pre> -->
</div>
