.locus-colocalization-result-tab {
    overflow-x: auto !important;
    overflow-y: hidden !important;
}

.locus-colocalization-content {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.1rem;
}

.correlation-pval-threshold-input-field {
    width: 180px !important;
}

/* Override selected toggle buttons */
.mat-button-toggle-checked {
    background-color: #3F51B5 !important;
    color: white !important;
}

.mat-header-cell {
    font-weight: bold !important;
    padding-left: 13px !important;
    color: black !important;
}

.mat-cell {
    padding-left: 6px !important;
}

.mat-form-field {
    /* font-size: 14px; */
    width: 100%;
}

table {
    width: 100%;
}

.ecaviar-details-table-container {
    overflow-x: auto !important;
}

.hyprcoloc-details-table-container {
    overflow-x: auto !important;
}

.hyprcoloc-snpscore-details-table-container {
    overflow-x: auto !important;
}
