.locus-colocalization-result-tab {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.correlation-pval-threshold-input-field {
    width: 180px !important;
}

/* Override selected toggle buttons */
.mat-button-toggle-checked {
    background-color: #3F51B5 !important;
    color: white !important;
}

.mat-header-cell {
    /* font-size: 13px !important; */
    font-weight: bold !important;
}

/* .mat-cell {
    padding-left: 6px;
} */

.mat-form-field {
    /* font-size: 14px; */
    width: 100%;
}

table {
    width: 100%;
}

/* .ecaviar-details-table {
    overflow: auto !important;
} */

/* .ecaviar-results {
    width: 90%;
    overflow-x: hidden !important;
} */

.ecaviar-details-table-container {
    overflow-x: auto !important;
}
