<div class="locus-colocalization-result-tab">

  <div class="row p-3 justify-content-center">

    <!-- Toggle Spearman/Pearson correlation type -->
    <div class="col-md-auto pl-3 pr-3">
      Pearson/Spearman:
      <mat-button-toggle-group 
        name="fontStyle" 
        aria-label="Font Style" 
        [(ngModel)]="selectedCorrelation" 
        (change)="triggerCorrelationReplot()">
        <mat-button-toggle value="R">R</mat-button-toggle>
        <mat-button-toggle value="P">P</mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <!-- P-value threshold input for correlation scatter plot -->
    <div 
      class="col-md-auto pl-3 pr-3" 
      id="qtls-locus-colocalization-correlation-scatter-threshold"
      *ngIf="correlationScatter">
      <form [formGroup]="correlationScatterThreshold">
        <mat-form-field class="correlation-pval-threshold-input-field">
          <input 
            #correlationPvalThreshold
            matInput 
            placeholder="P-value Threshold" 
            (keyup)="changeCorrelationPvalThreshold($event)" 
            [(ngModel)]="selectedCorrelationPvalThreshold" 
            formControlName="correlationPvalThreshold">
          <button 
            mat-button matSuffix mat-icon-button aria-label="Clear" 
            (click)="clearCorrelationPvalThreshold()" 
            [disabled]="selectedCorrelation == 'R'">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="correlationScatterThreshold.invalid">{{ correlationPvalThresholdErrorMsg() }}</mat-error>
        </mat-form-field>
      </form>
    </div>
    
  </div>

  <!-- Show centered Plotly locus colocalization scatter plot if graph is generated -->
  <div 
    class="d-flex justify-content-center" 
    id="qtls-locus-colocalization-correlation-scatter-plot">
    <plotly-plot 
      *ngIf="correlationScatter"
      [data]="correlationScatter.data" 
      [layout]="correlationScatter.layout" 
      [config]="correlationScatter.config">
    </plotly-plot>
  </div>

  <br>

  <!-- <div 
    class="d-flex justify-content-center" 
    *ngIf="!ecaviarData">
    <mat-spinner></mat-spinner>
  </div> -->
  <!-- <div 
    class="d-flex justify-content-center loading-overlay" 
    *ngIf="blurLoadECAVIAR">
    <div class="d-flex align-items-center flex-wrap">
      <mat-spinner></mat-spinner>
    </div>
  </div> -->
<!-- 
  <div 
    class="ecaviar-results blur-loading-ecaviar blur-overlay" 
    *ngIf="showECAVIARTable"> -->

  <!-- <div 
    class="ecaviar-results" 
    *ngIf="showECAVIARTable"> -->

  <div   
    class="ecaviar-results">

    <div class="ml-2 mr-2">
      <mat-form-field>
        <input matInput 
          [disabled]="!showECAVIARTable"
          (keyup)="applyFilter($event.target.value)" 
          placeholder="Filter">
      </mat-form-field>
    </div>
    <div 
      class="d-flex justify-content-center" 
      *ngIf="!showECAVIARTable">
      <mat-spinner></mat-spinner>
    </div>
    <div class="ml-2 mr-2 ecaviar-details-table-container" *ngIf="showECAVIARTable">

      <table class="ecaviar-details-table" mat-table [dataSource]="dataSource" matSort matSortStart="desc">
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- gene_id Column -->
        <ng-container matColumnDef="gene_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="gene_id"> Gene ID </th>
          <td mat-cell *matCellDef="let ecaviar">{{ecaviar.gene_id}}</td>
        </ng-container>
      
        <!-- gene_symbol Column -->
        <ng-container matColumnDef="gene_symbol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="gene_symbol"> Gene Symbol </th>
          <td mat-cell *matCellDef="let ecaviar">{{ecaviar.gene_symbol}}</td>
        </ng-container>
      
        <!-- variant_id Column -->
        <!-- <ng-container matColumnDef="variant_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="variant_id"> Variant ID </th>
          <td mat-cell *matCellDef="let ecaviar">{{ecaviar.variant_id}}</td>
        </ng-container> -->
      
        <!-- rsnum Column -->
        <ng-container matColumnDef="rsnum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="rsnum"> RS Number </th>
          <td mat-cell *matCellDef="let ecaviar">{{ecaviar.rsnum}}</td>
        </ng-container>
      
        <!-- chr Column -->
        <ng-container matColumnDef="chr">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="chr"> Chromosome </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.chr}} </td>
        </ng-container>
      
        <!-- pos Column -->
        <ng-container matColumnDef="pos">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="pos"> Position </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.pos}} </td>
        </ng-container>
      
        <!-- ref Column -->
        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="ref"> Ref </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.ref}} </td>
        </ng-container>
      
        <!-- alt Column -->
        <ng-container matColumnDef="alt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="alt"> Alt </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.alt}} </td>
        </ng-container>
      
        <!-- tss_distance Column -->
        <ng-container matColumnDef="tss_distance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="tss_distance"> TSS Distance </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.tss_distance}} </td>
        </ng-container>
      
        <!-- pval_nominal Column -->
        <ng-container matColumnDef="pval_nominal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="pval_nominal">Nomimal P-value</th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.pval_nominal}} </td>
        </ng-container>
      
        <!-- slope Column -->
        <ng-container matColumnDef="slope">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="slope"> Slope </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.slope}} </td>
        </ng-container>
      
        <!-- slope_se Column -->
        <ng-container matColumnDef="slope_se">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="slope_se"> Slope SE </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.slope_se}} </td>
        </ng-container>
        
        <!-- gwas_pvalue Column -->
        <ng-container matColumnDef="gwas_pvalue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="gwas_pvalue"> GWAS P-value </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.gwas_pvalue}} </td>
        </ng-container>
    
        <!-- gwas_z Column -->
        <ng-container matColumnDef="gwas_z">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="gwas_z"> GWAS Z </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.gwas_z}} </td>
        </ng-container>
    
        <!-- Leadsnp Column -->
        <ng-container matColumnDef="Leadsnp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Leadsnp"> Lead SNP </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.Leadsnp}} </td>
        </ng-container>
        
        <!-- Prob_in_pCausalSet Column -->
        <ng-container matColumnDef="Prob_in_pCausalSet">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Prob_in_pCausalSet"> Prob_in_pCausalSet </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.Prob_in_pCausalSet}} </td>
        </ng-container>
    
        <!-- CLPP Column -->
        <ng-container matColumnDef="CLPP">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="CLPP"> CLPP </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.CLPP}} </td>
        </ng-container>
    
        <!-- Prob_in_pCausalSet2 Column -->
        <ng-container matColumnDef="Prob_in_pCausalSet2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="Prob_in_pCausalSet2"> Prob_in_pCausalSet2 </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.Prob_in_pCausalSet2}} </td>
        </ng-container>
    
        <!-- CLPP2 Column -->
        <ng-container matColumnDef="CLPP2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="CLPP2"> CLPP2 </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.CLPP2}} </td>
        </ng-container>
    
        <!-- leadsnp_included Column -->
        <ng-container matColumnDef="leadsnp_included">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="leadsnp_included"> Lead SNP Included </th>
          <td mat-cell *matCellDef="let ecaviar"> {{ecaviar.leadsnp_included}} </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>
      
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>

    <!-- <mat-paginator [disabled]="!showECAVIARTable" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator> -->
    
    <div class="ml-4 mb-4 ecaviar-details-table" style="color: #0000EE; text-decoration: underline; cursor: pointer;">
      <a (click)="downloadECAVIARTable()" 
        *ngIf="showECAVIARTable">
        Download eCAVIAR Table
      </a>
    </div>

  </div>

  <br>

</div>