# app
**/node_modules/
angular/
www/

# client
# client/build/

# misc
# **/.eslintcache
# **/.vscode
# **.gz.tbi
**/.DS_Store

# server
server/config.json
**/logs/
**/data/
**/apache_logs/
**/tmp/
