# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc


# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
package-lock.json

# R Calculations
/r-calculations/uploads/
/r-calculations/.RData
/r-calculations/.Rhistory

/r-calculations/eQTL/chr1_149039120_152938045.vcf.gz
/r-calculations/eQTL/chr1_149039120_152938045.vcf.gz.tbi
# /r-calculations/eQTL/emeraLD
/r-calculations/eQTL/emeraLD2R.r