# app
**/node_modules/
angular/
www/

# client
client/build/

# misc
# **/.eslintcache
# **/.vscode
# **.gz.tbi
**/.DS_Store
Rplots.pdf
false
*.tbi
server/ezQTL.log
server/snp_match.txt
server/snp_not_match.txt
data.old
data.zip

# server
server/config.json
**/logs/
**/data/
**/apache_logs/
**/tmp/
