<!-- <div class="bg-primary-light text-light d-none d-sm-block">
    <div class="container pt-1 pb-1">
      <span style="font-size: 1.1rem; font-weight: 600">Mean-<b><font color='#F5Ab35'>v</font></b>ariances <b><font color='#F5Ab35'>Q</font></b>uantitative <b><font color='#F5Ab35'>T</font></b>rait <b><font color='#F5Ab35'>L</font></b>ocus (vQTL)</span>
    </div>
</div> -->
<nav class="navbar navbar-expand-sm navbar-dark shadow-sm bg-dark-gradient text-light py-0">
  <div class="container">
    <a class="navbar-brand d-sm-none" href="#"><span style="font-size: 1.1rem; font-weight: 600">vQTL</span></a>
    <ul class="navbar-nav">
        <!-- Home -->
        <li class="nav-item mr-2">
            <a 
              routerLink="/home"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              class="nav-link" 
              tabindex="3">
              Home
            </a>
        </li>
        <!-- QTLs -->
        <li class="nav-item mr-2">
            <a 
              routerLink="/qtls"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              class="nav-link" 
              tabindex="4">
              QTLs-GWAS
            </a>
        </li>
        <!-- sQTL -->
        <!-- <li class="nav-item mr-2">
            <a 
              routerLink="/sqtl"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              class="nav-link" 
              tabindex="5">
              sQTL
            </a>
        </li> -->
        <!-- meQTL -->
        <!-- <li class="nav-item mr-2">
            <a 
              routerLink="/meqtl"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              class="nav-link" 
              tabindex="6">
              meQTL
            </a>
        </li> -->
        <!-- miQTL -->
        <!-- <li class="nav-item mr-2">
            <a 
              routerLink="/miqtl"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              class="nav-link" 
              tabindex="7">
              miQTL
            </a>
        </li> -->
        <!-- QTL Interaction -->
        <!-- <li class="nav-item mr-2">
            <a 
              routerLink="/qtl-interaction"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              class="nav-link" 
              tabindex="8">
              QTL Interaction
            </a>
        </li> -->
        <!-- Help -->
        <li class="nav-item mr-2">
            <a 
              routerLink="/help"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}"
              class="nav-link" 
              tabindex="9">
              Help
            </a>
        </li>
    </ul>
  </div>
</nav>