.accordions > .accordion {
  &:first-child {
    .card {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }
  }

  &:last-child {
    .card {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
  }

  .card {
    border-bottom: 0;
    border-radius: 0;

    .card-header {
      &:hover {
        color: steelblue;
      }
    }
  }
}
