<div class="qtls-panels">
    <mat-sidenav-container hasBackdrop="false">    
        <mat-sidenav #sidenav 
            mode="side" 
            [(opened)]="opened" 
            class="input-panel" 
            autoFocus="true">
            <!-- QTLs Data Inputs (component) -->
            <app-qtls-data-inputs></app-qtls-data-inputs>
        </mat-sidenav>
        <mat-sidenav-content>
            <!-- QTLs Calculation Inputs (component) -->
            <app-qtls-calculation-inputs></app-qtls-calculation-inputs>
            <!-- QTLs Results (component) -->
            <app-qtls-results></app-qtls-results>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
