<!-- QTLs Error Messages (component) -->
<div class="row">
    <div id="message-panel" class="col">
        <app-qtls-error-messages></app-qtls-error-messages>
    </div>
</div>

<div class="row">
    <div id="input-panel" class="col-md-auto">
        <!-- QTLs Data Inputs (component) -->
        <app-qtls-data-inputs></app-qtls-data-inputs>
    </div>
    <div id="toggle-view" class="col-md-auto">
      <i id="toggle-view-button" 
        class="fas fa-caret-left fa-2x" 
        tabindex="10"
        (click)="toggleView()" 
        (keyup.enter)="toggleView()" 
        (keyup.space)="toggleView()">
      </i>
    </div>
    <div id="results-panel" class="col-9">
        <!-- QTLs Calculation Inputs (component) -->
        <app-qtls-calculation-inputs></app-qtls-calculation-inputs>
        <!-- QTLs Results (component) -->
        <app-qtls-results></app-qtls-results>
    </div>
</div>
