mat-sidenav-container {
    min-height: 960px;
    height: 100%;
    background: white !important;
    /* overflow: hidden; */
}

mat-sidenav {
    height: 100%;
    width: 320px;
    /* overflow: auto; */
}

.qtls-panels {
    overflow: visible;
    height: 100%;
}

mat-sidenav-content {
    height: 100%;
    overflow: hidden !important;
}
