/* #input-panel {
    padding-right: 0px !important;
    min-width: 320px !important;
}
#results-panel {
    padding-left: 0px !important;
} */

mat-sidenav-container {
    min-height: 780px;
    height: 100%;
    background: white;
}

mat-sidenav {
    /* height: 100%; */
    width: 320px;
}

/* mat-sidenav-content {
    background: white;
} */

/* .toggle-view {
    float: left;
} */

/* #toggle-view-button {
    cursor: pointer;
    color: #3F51B5;
} */