<!-- Show error message if issues occur during calculation -->
<div 
  id="qtls-calculation-error-message"
  class="alert alert-danger" 
  role="alert"  
  *ngIf="errorMessage.length > 0">
  Unable to calculate: {{ errorMessage }} — please check input files. Reset form to try again.
</div>

<div id="calculation-inputs"  
  class="border border-light rounded pl-3 pr-3 mb-3" 
  [formGroup]="qtlsCalculationForm">
  <!-- *ngIf="mainData"> -->
  
<!-- <div class="border border-light rounded pt-3 pl-3 pr-3 mb-3"> -->
  <div class="row blur-loading-main">

    <!-- Toggle Data Input Side Panel Collapse -->
    <button class="toggle-view d-flex col-md-auto pl-1 pr-1" 
      style="color: transparent; background-color: transparent; border-color: transparent;"
      (click)="collapseDataInputPanel()" 
      alt="Toggle display data input panel" 
      aria-label="Toggle display data input panel">
      <!-- (keyup.enter)="collapseDataInputPanel()" 
      (keyup.space)="collapseDataInputPanel()" > -->
      <!-- tabindex="10"> -->
      <div class="d-flex align-items-center justify-content-center">
        <i id="toggle-view-button" class="fas fa-caret-left fa-2x"></i>
      </div>
    </button>

    <!-- Choose Population -->
    <div class="col-md-auto pt-2 pl-3 pr-3 ml-3">
      <mat-form-field class="calculation-input-field">
        <mat-label>Population</mat-label>
        <mat-select 
          panelClass="populationPanel" 
          [(value)]="selectedPop" 
          (selectionChange)="changePop()" 
          multiple 
          required 
          [disabled]=!mainData
          #population 
          role="listbox">
          <!-- Edit dropdown placeholder -->
          <mat-select-trigger>
            <span *ngIf="selectedPop.length < 26">
              <span *ngIf="selectedPopFinal.length <= 3">
                {{ selectedPopFinal.join('+') }}
              </span>
              <span *ngIf="selectedPopFinal.length > 3">
                {{ selectedPopFinal[0] }} 
                <span class="example-additional-selection">
                  (+{{selectedPopFinal.length - 1}} {{ selectedPopFinal?.length === 2 ? 'other' : 'others'}})
                </span>
              </span>
            </span>
            <!-- Display placeholder if all populations selected (26 total) -->
            <span *ngIf="selectedPop.length == 26">
              (ALL) All Populations
            </span>
          </mat-select-trigger>
          <br>
          <mat-checkbox 
            class="p-3" 
            (change)="selectAll()" 
            color="primary" 
            [checked]="populationSelectedAll" 
            style="width: 500px;" 
            role="option">
            (ALL) All Populations
          </mat-checkbox>
          <!-- Populate dropdown with all populations -->
          <div *ngFor="let group of populationGroups">
            <!-- Populate subpopulation groups -->
            <div class="pl-3">
              <span 
                (click)="selectPopulationGroup(group.namecode)" 
                style="cursor: pointer; user-select: none;">
                (<u>{{ group.namecode }}</u>)<u> {{ group.name }}</u>
              </span>
            </div>
            <!-- Populate individual populations -->
            <mat-option 
              class="pl-5" 
              *ngFor="let subPopulation of group.subPopulations" 
              [value]="subPopulation.value" 
              role="option">
              ({{ subPopulation.value }}) {{ subPopulation.viewValue }}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Choose Reference Gene -->
    <div class="col-md-auto mt-2 pl-3 pr-3">
      <mat-form-field class="calculation-input-field">
        <!-- <mat-label>Reference Gene</mat-label>
        <mat-select 
          [(value)]="selectedGene" 
          (selectionChange)="refGeneChange()" 
          required 
          [disabled]=!mainData 
          #refGene>
          <mat-option 
            *ngFor="let gene of geneList" 
            [value]="gene.gene_id">
            {{ gene.gene_symbol }}
          </mat-option>
        </mat-select> -->
        <input type="text" 
          placeholder="Reference Gene *" 
          aria-label="Gene Symbol" 
          matInput 
          (keyup)="enableSearchGeneRef($event)" 
          [(ngModel)]="selectedGeneSymbol" 
          [readonly]=!mainData
          formControlName="referenceGene" 
          [matAutocomplete]="auto"  
          #refGene>
        <button mat-button 
          matSuffix 
          mat-icon-button 
          aria-label="Clear" 
          (click)="clearRefGeneField()" 
          [disabled]=!mainData>
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption 
          #auto="matAutocomplete"
          (optionSelected)="refGeneChange()">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option" role="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <!-- cis-QTL Distance input -->
    <!-- <div class="col-md-auto mt-2 pl-3 pr-3">
      <form [formGroup]="qtlsCalculationFormCISDistance">
        <mat-form-field class="calculation-input-field">
          <input 
            #cisDistanceInput
            matInput 
            placeholder="cis-QTL Distance (Kb) *" 
            (keyup)="enableSearchCISDistance($event)" 
            [(ngModel)]="selectedDist" 
            [readonly]=!mainData
            formControlName="cisDistanceInput">
          <button mat-button 
            matSuffix 
            mat-icon-button 
            aria-label="Clear" 
            (click)="clearCISDistField()" 
            [disabled]=!mainData>
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="qtlsCalculationFormCISDistance.invalid">{{ cisDistErrorMsg() }}</mat-error>
        </mat-form-field>
      </form>
    </div> -->

    <!-- LD Reference input -->
    <div class="col-md-auto mt-2 pl-3 pr-3">
      <!-- <form [formGroup]="qtlsCalculationForm"> -->
        <mat-form-field class="calculation-input-field">
          <input 
            #rsnumSearchInput
            matInput 
            placeholder="LD Reference" 
            (keyup)="enableSearchLDRef($event)" 
            [(ngModel)]="rsnumSearch" 
            [readonly]=!mainData
            formControlName="rsnumber" 
            aria-label="LD Refernce (rs number) input field">
          <button mat-button 
            matSuffix 
            mat-icon-button 
            aria-label="Clear" 
            (click)="clearLDRefField()" 
            [disabled]=!mainData>
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="qtlsCalculationForm.get('rsnumber').invalid">Invalid rs number</mat-error>
        </mat-form-field>
      <!-- </form> -->
    </div>

    <!-- Re-calculate Button -->
    <div class="col-md-auto vert-cent pl-3 pr-3">
      <button 
        type="submit" 
        class="mt-2" 
        mat-raised-button color="primary" 
        [disabled]="!mainData || (!inputChanged || selectedPop.length == 0 || qtlsCalculationForm.get('rsnumber').invalid || qtlsCalculationForm.get('referenceGene').invalid)" 
        (click)="recalculatePopGeneDistRef()" 
        id="recalculate-tooltip" 
        data-toggle="tooltip" 
        data-placement="right" 
        title="Please wait until HyPrColoc and eCAVIAR calculations are finished before recalculating.">
        Recalculate
      </button>
    </div>

    <!-- [disabled]="!mainData || (!inputChanged || selectedPop.length == 0 || qtlsCalculationForm.invalid || qtlsCalculationFormCISDistance.invalid)"  -->

  </div>

  <!-- Show error message if issues occur during calculation -->
  <!-- <div 
    id="qtls-calculation-error-message"
    class="ml-2 mr-2 alert alert-danger" 
    role="alert"  
    *ngIf="errorMessage.length > 0">
    Unable to calculate: {{ errorMessage }} — please check input files. Reset form to try again.
  </div> -->

  <!-- Show warning message if searched rs number is not found -->
  <!-- <div 
    id="ldref-search-warning"
    class="ml-2 mr-2 alert alert-warning alert-dismissible fade show" 
    role="alert"  
    *ngIf="warningMessage.length > 0">
    {{ warningMessage }}
    <button 
      type="button" 
      class="close" 
      (click)="closeWarning()" 
      aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->

</div>

<!-- Show warning message if searched rs number is not found -->
<div 
  id="ldref-search-warning"
  class="alert alert-warning alert-dismissible fade show" 
  role="alert"  
  *ngIf="warningMessage.length > 0">
  {{ warningMessage }}
  <button 
    type="button" 
    class="close" 
    (click)="closeWarning()" 
    aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>