<div class="home-content px-3">

  <div id="home-logo" class="text-center">
    <img height="150" src="assets/images/logos/vqtl-logo.png" alt="vQTL Logo">
  </div>

  <div class="mt-4">
    <p>
      <b>V</b>isualization of <b>Q</b>uantitative <b>T</b>rait <b>L</b>oci (<b>vQTL</b>) is a web-based tool for integrative GWAS annotation, 
      including eQTL, sQTL, meQTL, miQTL <i>etc.</i> It can also be used to visualize any other genetic association results. 
      In addition, vQTL can perform colocalization analyses between two association results (for example, GWAS and eQTL). 
      For the visualization, vQTL can recalculate linkage disequilibrium (LD) based on a selected variant, which could be 
      useful to prioritize potential causal variants for functional study. Currently, vQTL includes the QTLs-GWAS module. 
      Other modules will be developed soon. 
    </p>
  </div>
  <div class="mt-3">
    <p>
      QTLs-GWAS includes the following four sub-modules:
    </p>
  </div>
  <div class="mt-3">
    <div class="row mx-5 justify-content-center">
      <div class="col-md-3">
        <p>
          Locus Aligment:
        </p>
      </div>
      <div class="col-md-8">
        <p>
          Simultaneously and interactively visualize association p-values and linkage disequilibrium patterns using two locuszoom 
          plots for a locus of interest. A p-value correlation plot between these two locuszoom plots is generated to show the 
          colocalization pattern.
        </p>
      </div>
      <div class="mt-3 w-100"></div>
      <div class="col-md-3">
        <p>Locus Table:</p>
      </div>
      <div class="col-md-8">
          <p>
            A sortable table displays all the QTLs with links to different databases (LDlink, GWAS Catalog, gnomAD, etc.)
          </p>
      </div>
      <div class="mt-3 w-100"></div>
      <div class="col-md-3">
        <p>Locus Colocalization:</p>
      </div>
      <div class="col-md-8">
        <p>
          Perform colocalization analysis between two association results in a locus using three different methods.
        </p> 
      </div>
      <div class="mt-3 w-100"></div>
      <div class="col-md-3">
        <p>Locus Quantification:</p>
      </div>
      <div class="col-md-8">
        <p>
          Visualize the quantification data used in the QTL testing in the locus of interest. The quantification data 
          are also used to generate the boxplot for QTLs. 
        </p>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <p>
        <b>Software Version / Date: </b>first release, vQTL 1.0 - 08/01/2019 
        <br>
        Coming soon – GTEx eQTL+sQTL and Melanocyte eQTL  
    </p>    
  </div>
  <div class="mt-5">
      <p>
        <b>Citations:</b>
        <br>
        vQTL, a web-based tool for integrative visualization of Quantitative Trait Loci for GWAS annotation. 
        (Manuscript in preparation)
      </p>
      <p>
        vQTL was developed by Dr. Tongwu Zhang in the lab of Dr. <a href="https://dceg.cancer.gov/about/staff-directory/biographies/K-N/brown-kevin" target="_blank">Kevin Brown</a>,in collaboration with the 
        NCI Center for Biomedical Informatics and Information Technology. 
        Support for this project comes from the Division of Cancer Epidemiology and Genetics Informatics Tool Challenge. 
      </p>
      <p>
        Questions or comments? Contact us via <a href="mailto:http://tongwu.zhang@nih.gov">email</a>.
      </p>   
  </div>
  
</div>
