<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ezQTL Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    Dear Administrator, <br>
    <p>An error occurred while processing job id: <b>{id}</b></p>

    <p><b>Parameters</b></p>
    <p><pre>{parameters}</pre></p>

    <p><b>Exception Information</b></p>
    <p><pre>{exception}</pre></p>

    <p><b>Process Output</b></p>
    <p><pre>{processOutput}</pre></p>

</body>

</html>