<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>ezQTL Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    Dear ezQTL User, <br />
    <p>
      The jobs you submitted to the ezQTL queue have completed.
    </p>
    <b>Job Information</b>
    {results}

    <p>The results will be available for the next 7 days.</p>
    <p>For jobs with errors, please correct your settings and resubmit</p>

    <p>
      Please contact us at
      <a href="mailto:{supportEmail}">{supportEmail}</a> for more information or
      if you have any questions.
    </p>

    <p>
      Respectfully, <br />
      ezQTL Web Tool
    </p>
  </body>
</html>
