<div id="eqtl-container">
  <!-- Inputs -->
  <div class="row p-2" id="inputs">
    <!-- Choose Files -->
    <div class="col-md-auto border border-dark rounded" id="input-files">
      <!-- Expression Data File -->
      <div class="row p-2 justify-content-between">
        <div class="col-md-auto">Expression Data File*</div>
        <div class="col-md-auto">
          <button mat-raised-button>Choose File</button>
        </div>
        <div class="col-md-auto"><a href="/src/assets/files/1q21_3.expression.txt" download>Download Sample</a></div>
      </div>
      <!-- Genotype Data File -->
      <div class="row p-2 justify-content-between">
        <div class="col-md-auto">Genotype Data File*</div>
        <div class="col-md-auto">
          <button mat-raised-button>Choose File</button>
        </div>
        <div class="col-md-auto"><a href="/src/assets/files/1q21_3.genotyping.txt" download>Download Sample</a></div>
      </div>
      <!-- Association Data File -->
      <div class="row p-2 justify-content-between">
        <div class="col-md-auto">Association Data File*</div>
        <div class="col-md-auto">
          <button mat-raised-button>Choose File</button>
        </div>
        <div class="col-md-auto"><a href="/src/assets/files/1q21_3.eQTL.txt" download>Download Sample</a></div>
      </div>
    </div>
    <!-- Input Parameters -->
    <div class="col-md border border-dark rounded" id="input-parameters">
      input parameters
    </div>
  </div>
  <!-- Results -->
  <div class="row p-2" id="results">
    <div class="col border border-dark rounded" id="result-main">
      results
    </div>
  </div>
</div>


