<!-- Inputs -->
<form [formGroup]="qtlsForm">
  <div class="border border-light rounded p-3 mr-3">
    <div class="qtls-data-files mb-4">

      <div class="datafile-type">
        <div class="d-flex justify-content-between">
          <div>
            <b>QTLs Data Files</b>
          </div>
          <div class="disabled-post-calc" *ngIf="!selectLoadQTLsSamples">
            <i class="fas fa-file-export mr-1"></i>
            <button (click)="loadQTLsSampleDataFiles()" 
              class="pl-0 pr-0 qtls-data-load-samples disabled-post-calc"
              style="background-color: transparent; border-color: transparent;" 
              alt="Load QTLs sample files"
              aria-label="Load QTLs sample files">
              Load Sample Files
            </button>
          </div>
          <div class="disabled-post-calc" *ngIf="selectLoadQTLsSamples">
            <i class="fas fa-file-excel mr-1"></i>
            <button (click)="loadQTLsSampleDataFiles()" 
              class="pl-0 pr-0 qtls-data-load-samples disabled-post-calc"
              style="background-color: transparent; border-color: transparent;" 
              alt="Unload QTLs sample files"
              aria-label="Unload QTLs sample files">
              Unload Sample Files
            </button>
          </div>
        </div>
        <div>
          <small>Upload locus specific region, <= 5Mb size</small>
        </div>
      </div>

      <div class="w-100 mt-1 mb-2 border border-light"></div>

      <!-- Association/GTEx Data Toggle -->
      <!-- <div class="qtls-data-inputs mt-3 mb-2" id="qtls-data-toggle">
        <mat-radio-group 
          [(ngModel)]="qtlsType" 
          [ngModelOptions]="{standalone: true}" 
          [disabled]="resultStatus || disableQTLsToggle" 
          aria-label="Select either Association or GTEx data" 
          (change)="toggleAssocGTEx()">
          <mat-radio-button 
            value="assoc" 
            color="primary">
            Association File
          </mat-radio-button>
          <mat-radio-button 
            class="ml-3" 
            value="gtex" 
            color="primary">
            GTEx Data
          </mat-radio-button>
        </mat-radio-group>
      </div> -->
    
      <!-- Association Data File -->
      <div 
        class="qtls-data-inputs" 
        id="qtls-data-input-association-file" 
        *ngIf="qtlsType == 'assoc'">
        <div class="row mb-2">
          <div class="ml-3 datafile-title">
            Association (QTL) Data File <sup><i class="fas fa-star-of-life" style="color:red; font-size: 7pt;"></i></sup>
          </div>
        </div>
        <div class="row mb-3">
          <input  
            type="file" 
            formControlName="associationFile"
            class="ng-hide" 
            id="association-file" 
            name="input-files" 
            accept=".txt" 
            aria-label="Association data file input"
            hidden  
            #associationInput>
          <button 
            style="width:120px; overflow:hidden; text-overflow:ellipsis;" 
            (click)="associationInput.click()" 
            [disabled]="resultStatus || selectLoadQTLsSamples" 
            class="ml-3 mr-3" 
            mat-stroked-button>
            Choose File
          </button>
          <div>
            <!-- <div *ngIf="!selectLoadQTLsSamples">
              <i class="fas fa-download mr-1"></i><a href="assets/files/MX2.eQTL.txt" download>Download Sample</a>
            </div>
            <div class="disabled-overlay" *ngIf="selectLoadQTLsSamples">
              <i class="fas fa-download mr-1"></i><a href="assets/files/MX2.eQTL.txt" download>Download Sample</a>
            </div> -->
            <div 
              class="text-secondary" 
              style="overflow:hidden; text-overflow:ellipsis;" 
              *ngIf="!selectLoadQTLsSamples">
              {{ !qtlsForm.value.associationFile ? '' : (qtlsForm.value?.associationFile[0]?.name.length <= 21) ? (qtlsForm.value?.associationFile[0]?.name || '') : qtlsForm.value?.associationFile[0]?.name.substring(0,18) + '...' }} 
              <button 
                type="button" 
                class="close" 
                aria-label="Close" 
                *ngIf="qtlsForm.value.associationFile && qtlsForm.value.associationFile.length > 0 && !resultStatus" 
                (click)="clearAssociationFile()" 
                [disabled]="resultStatus">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div 
              class="text-secondary" 
              style="overflow:hidden; text-overflow:ellipsis;" 
              *ngIf="selectLoadQTLsSamples">
              MX2.eQTL.txt
            </div>
          </div>
        </div>
      </div>

      <!-- GTEx Datasets Dropdown -->
      <!-- <div 
        class="qtls-data-inputs" 
        id="qtls-data-input-gtex-data" 
        *ngIf="qtlsType == 'gtex'">
        <div class="row">
          <div class="ml-3 datafile-title">
            GTEx Data<span style="color:red">*</span>
          </div>
        </div>
        <mat-form-field class="pl-2 pr-2 qtls-data-input-gtex-select" style="width: 100%">
          <mat-label>Choose Data Set</mat-label>
          <mat-select 
            [disabled]="resultStatus || (qtlsType != 'gtex')">
            <mat-option *ngFor="let GTExDataset of GTExDatasets" [value]="GTExDataset.value">
              {{ GTExDataset.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->

      <!-- Quantification Data File -->
      <div class="qtls-data-inputs" id="qtls-data-input-quantification-file">
        <div class="row mb-2">
          <div class="ml-3 datafile-title">
            Quantification Data File
          </div>
        </div>
        <div class="row mb-3">
          <input 
            type="file" 
            formControlName="quantificationFile"  
            class="ng-hide" 
            id="quantification-file" 
            name="input-files" 
            accept=".txt" 
            aria-label="Quantification data file input" 
            hidden 
            #quantificationInput>
          <button 
            style="width:120px; overflow:hidden; text-overflow:ellipsis;" 
            (click)="quantificationInput.click()" 
            [disabled]="resultStatus || selectLoadQTLsSamples" 
            class="ml-3 mr-3" 
            mat-stroked-button 
            id="quantification-file-tooltip" 
            data-toggle="tooltip" 
            data-placement="left" 
            title="Please input accompanying Quantification Data File with Genotype Data File.">
            Choose File
          </button>
          <div>
            <!-- <div *ngIf="!selectLoadQTLsSamples">
              <i class="fas fa-download mr-1"></i><a href="assets/files/MX2.quantification.txt" download>Download Sample</a>
            </div>
            <div class="disabled-overlay" *ngIf="selectLoadQTLsSamples">
              <i class="fas fa-download mr-1"></i><a href="assets/files/MX2.quantification.txt" download>Download Sample</a>
            </div> -->
            <div 
              *ngIf="!selectLoadQTLsSamples && qtlsForm.value.quantificationFile" 
              class="text-secondary" 
              style="overflow:hidden; text-overflow:ellipsis;">
              {{ !qtlsForm.value.quantificationFile ? '' : (qtlsForm.value?.quantificationFile[0]?.name.length <= 21) ? (qtlsForm.value?.quantificationFile[0]?.name || '') : qtlsForm.value?.quantificationFile[0]?.name.substring(0,18) + '...' }} 
              <button 
                type="button" 
                class="close" 
                aria-label="Close" 
                *ngIf="qtlsForm.value.quantificationFile && qtlsForm.value.quantificationFile.length > 0 && !resultStatus" 
                (click)="clearQuantificationFile()" 
                [disabled]="resultStatus">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div 
              class="text-secondary" 
              style="overflow:hidden; text-overflow:ellipsis;" 
              *ngIf="selectLoadQTLsSamples">
              MX2.quantification.txt
            </div>
          </div>
        </div>
      </div>

      <!-- Genotype Data File -->
      <div class="qtls-data-inputs" id="qtls-data-input-genotype-file">
        <div class="row mb-2">
          <div class="ml-3 datafile-title">
            Genotype Data File
          </div>
        </div>
        <div class="row mb-3">
          <input 
            type="file" 
            formControlName="genotypeFile" 
            class="ng-hide" 
            id="genotype-file" 
            name="input-files" 
            accept=".txt" 
            aria-label="Genotype data file input" 
            hidden 
            #genotypeInput>
            <button 
              style="width:120px; overflow:hidden; text-overflow:ellipsis;" 
              (click)="genotypeInput.click()" 
              [disabled]="resultStatus || selectLoadQTLsSamples" 
              class="ml-3 mr-3" 
              mat-stroked-button 
              id="genotype-file-tooltip" 
              data-toggle="tooltip" 
              data-placement="left" 
              title="Please input accompanying Genotype Data File with Quantification Data File.">
              Choose File
            </button>
          <div>
            <!-- <div *ngIf="!selectLoadQTLsSamples">
              <i class="fas fa-download mr-1"></i><a href="assets/files/MX2.genotyping.txt" download>Download Sample</a>
            </div>
            <div class="disabled-overlay" *ngIf="selectLoadQTLsSamples">
              <i class="fas fa-download mr-1"></i><a href="assets/files/MX2.genotyping.txt" download>Download Sample</a>
            </div> -->
            <div 
              *ngIf="!selectLoadQTLsSamples && qtlsForm.value.genotypeFile" 
              class="text-secondary" 
              style="overflow:hidden; text-overflow:ellipsis;">
              {{ !qtlsForm.value.genotypeFile ? '' : (qtlsForm.value?.genotypeFile[0]?.name.length <= 21) ? (qtlsForm.value?.genotypeFile[0]?.name || '') : qtlsForm.value?.genotypeFile[0]?.name.substring(0,18) + '...' }} 
              <button 
                type="button" 
                class="close" 
                aria-label="Close" 
                *ngIf="qtlsForm.value.genotypeFile && qtlsForm.value.genotypeFile.length > 0 && !resultStatus" 
                (click)="clearGenotypeFile()" 
                [disabled]="resultStatus">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div 
              class="text-secondary" 
              style="overflow:hidden; text-overflow:ellipsis;" 
              *ngIf="selectLoadQTLsSamples">
              MX2.genotyping.txt
            </div>
          </div>
        </div>
      </div>
      <!-- LD Data File -->
      <div class="qtls-data-inputs" id="qtls-data-input-LD-file">
        <div class="row mb-2">
          <div class="ml-3 datafile-title">
            LD Data File (Default: 1KG Phase 3, EUR)
          </div>
        </div>
        <div class="row mb-3">
          <input 
            type="file" 
            formControlName="LDFile" 
            class="ng-hide" 
            id="LD-file" 
            name="input-files" 
            aria-label="LD data file input"
            hidden 
            #LDInput>
          <button 
            style="width:120px; overflow:hidden; text-overflow:ellipsis;" 
            (click)="LDInput.click()" 
            [disabled]="resultStatus || selectLoadLDSample" 
            class="ml-3 mr-3" 
            mat-stroked-button>
            Choose File
          </button>
          <div>
            <!-- <div *ngIf="!selectLoadLDSample">
              <i class="fas fa-download mr-1"></i><a href="assets/files/MX2.LD.txt" download>Download Sample</a>
            </div>
            <div class="disabled-overlay" *ngIf="selectLoadLDSample">
              <i class="fas fa-download mr-1"></i><a href="assets/files/MX2.LD.txt" download>Download Sample</a>
            </div> -->
            <div 
              *ngIf="!selectLoadLDSample && qtlsForm.value.LDFile" 
              class="text-secondary" 
              style="overflow:hidden; text-overflow:ellipsis;">
              {{ !qtlsForm.value.LDFile ? '' : (qtlsForm.value?.LDFile[0]?.name.length <= 21) ? (qtlsForm.value?.LDFile[0]?.name || '') : qtlsForm.value?.LDFile[0]?.name.substring(0,18) + '...' }} 
              <button 
                type="button" 
                class="close" 
                aria-label="Close" 
                *ngIf="qtlsForm.value.LDFile && qtlsForm.value.LDFile.length > 0 && !resultStatus" 
                (click)="clearLDFile()" 
                [disabled]="resultStatus">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div 
              class="text-secondary" 
              style="overflow:hidden; text-overflow:ellipsis;" 
              *ngIf="selectLoadLDSample">
              MX2.LD.gz
            </div>
          </div>
        </div>
      </div>
      <!-- <div>
        <i class="fas fa-download mr-1"></i><a (click)="downloadQTLsSamples()">Download Samples</a>
      </div> -->
    </div>

    <div class="w-100 mt-1 mb-2 border border-light"></div>

    <div class="qtls-data-files mb-4">

      <div class="datafile-type">
        <div class="d-flex justify-content-between">
          <div>
            <b>GWAS Data File</b>
          </div>
          <div class="disabled-post-calc" *ngIf="!selectLoadGWASSample">
            <i class="fas fa-file-export mr-1"></i>
            <button (click)="loadGWASSampleDataFile()" 
              class="pl-0 pr-0 qtls-data-load-samples disabled-post-calc"
              style="background-color: transparent; border-color: transparent;" 
              alt="Load GWAS sample data file"
              aria-label="Load GWAS sample data file">
              Load Sample File
          </button>
          </div>
          <div class="disabled-post-calc" *ngIf="selectLoadGWASSample">
            <i class="fas fa-file-excel mr-1"></i>
            <button (click)="loadGWASSampleDataFile()" 
              class="pl-0 pr-0 qtls-data-load-samples disabled-post-calc"
              style="background-color: transparent; border-color: transparent;" 
              alt="Unload GWAS sample data file"
              aria-label="Unload GWAS sample data file">
              Unload Sample File
          </button>
          </div>
        </div>
        <div>
          <small>Upload locus specific region, <= 5Mb size</small>
        </div>
      </div>

      <div class="w-100 mt-1 mb-2 border border-light"></div>

      <!-- GWAS Data File -->
      <div class="qtls-data-inputs" id="qtls-data-input-gwas-file">
        <div class="row mb-2">
          <div class="ml-3 datafile-title">
            GWAS Data File
          </div>
        </div>
        <div class="row mb-3">
          <input 
            type="file" 
            formControlName="gwasFile" 
            class="ng-hide" 
            id="gwas-file" 
            name="input-files" 
            accept=".txt" 
            aria-label="GWAS data file input"
            hidden 
            #gwasInput>
          <button 
            style="width:120px; overflow:hidden; text-overflow:ellipsis;" 
            (click)="gwasInput.click()" 
            [disabled]="resultStatus || selectLoadGWASSample" 
            class="ml-3 mr-3" 
            mat-stroked-button>
            Choose File
          </button>
          <div>
            <!-- <div *ngIf="!selectLoadGWASSample">
              <i class="fas fa-download mr-1"></i><a href="assets/files/MX2.GWAS.txt" download>Download Sample</a>
            </div>
            <div class="disabled-overlay" *ngIf="selectLoadGWASSample">
              <i class="fas fa-download mr-1"></i><a href="assets/files/MX2.GWAS.txt" download>Download Sample</a>
            </div> -->
            <div 
              *ngIf="!selectLoadGWASSample && qtlsForm.value.gwasFile" 
              class="text-secondary" 
              style="overflow:hidden; text-overflow:ellipsis;">
              {{ !qtlsForm.value.gwasFile ? '' : (qtlsForm.value?.gwasFile[0]?.name.length <= 21) ? (qtlsForm.value?.gwasFile[0]?.name || '') : qtlsForm.value?.gwasFile[0]?.name.substring(0,18) + '...' }} 
              <button 
                type="button" 
                class="close" 
                aria-label="Close" 
                *ngIf="qtlsForm.value.gwasFile && qtlsForm.value.gwasFile.length > 0 && !resultStatus" 
                (click)="clearGWASFile()" 
                [disabled]="resultStatus">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div 
              class="text-secondary" 
              style="overflow:hidden; text-overflow:ellipsis;" 
              *ngIf="selectLoadGWASSample">
              MX2.GWAS.txt
            </div>
          </div>
        </div>
      </div>
      <!-- <div>
        <i class="fas fa-download mr-1"></i><a href="assets/files/MX2.GWAS.txt" download>Download Sample</a>
      </div> -->
    </div> 

    <div class="w-100 mt-1 mb-2 border border-light"></div>

    <div class="qtls-data-files mb-2">

      <div class="datafile-type">
        <div class="d-flex justify-content-between">
          <div>
            <b>Locus Information</b>
          </div>
        </div>
      </div>

      <div class="w-100 mt-1 mb-2 border border-light"></div>

      <!-- cis-QTL Distance Input Field -->
      <div class="qtls-data-inputs" id="qtls-data-input-distance">
        <div class="row">
          <div class="ml-3 datafile-title">
            cis-QTL Distance (+/- Kb) up to 5Mb <sup><i class="fas fa-star-of-life" style="color:red; font-size: 7pt;"></i></sup>
          </div>
        </div>
        <div class="row">
          <mat-form-field class="data-input-field ml-3" [floatLabel]="'never'" appearance="outline">
            <input 
              #cisDistanceInput
              matInput 
              placeholder="cis-QTL Distance (Kb) *" 
              (keyup)="enableSearchCISDistance($event)" 
              [(ngModel)]="selectedDist" 
              formControlName="cisDistanceInput" 
              aria-label="cis-QTL Distance (Kb) input field">
            <button mat-button 
              matSuffix 
              mat-icon-button 
              aria-label="Clear" 
              (click)="clearCISDistField()" 
              [disabled]="qtlsForm.get('cisDistanceInput').disabled">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="qtlsForm.get('cisDistanceInput').invalid">{{ cisDistErrorMsg() }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- LD Reference Input Field -->
      <div class="qtls-data-inputs" id="qtls-data-input-ldref">
        <div class="row">
          <div class="ml-3 datafile-title">
            SNP (Default: lowest GWAS P-value SNP)
          </div>
        </div>
        <div class="row">
          <mat-form-field class="data-input-field ml-3" [floatLabel]="'never'" appearance="outline">
            <input 
              #rsnumSearchInput
              matInput 
              placeholder="LD Reference SNP" 
              (keyup)="enableSearchLDRef($event)" 
              [(ngModel)]="rsnumSearch" 
              formControlName="rsnumber" 
              aria-label="LD Reference (RS number) input field">
            <button mat-button 
              matSuffix 
              mat-icon-button 
              aria-label="Clear" 
              (click)="clearLDRefField()"
              [disabled]="qtlsForm.get('rsnumber').disabled">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="qtlsForm.get('rsnumber').invalid">Invalid rs number</mat-error>
          </mat-form-field>
        </div>
      </div>

    </div>

    <div class="w-100 mt-1 mb-2 border border-light"></div>

    <div class="qtls-data-files mb-1">
      <div class="qtls-data-inputs datafile-title">
        <sup><i class="fas fa-star-of-life" style="color:red; font-size: 7pt;"></i></sup> = required field
      </div>
      <div>
        <i class="fas fa-download mr-1"></i><a href="assets/files/MX2.examples.gz" download>Download Example Data</a>
      </div>
    </div>

  </div>

  <!-- Submit and Reset Button   -->
  <div class="qtls-data-inputs" id="qtls-data-input-submit-reset">
    <div class="d-flex justify-content-end mr-3">
      <div>
        <button 
          type="submit" 
          class="mt-3 mr-3" 
          [disabled]="(!qtlsForm.valid || resultStatus)" 
          mat-raised-button color="primary" 
          (click)="submit()">
          Calculate
        </button>
      </div>
      <div>
        <button 
          class="mt-3" 
          mat-raised-button 
          (click)="reset()" 
          [color]="resetColor" 
          id="reset-tooltip" 
          data-toggle="tooltip" 
          data-placement="top" 
          title="Please wait until HyPrColoc and eCAVIAR calculations are finished before resetting.">
          Reset
        </button>
      </div>
    </div>
  </div>
</form>


 

