.locus-alignment-result-tab {
  overflow-x: auto !important;
  overflow-y: hidden !important;
  /* min-height: 750px; */
}

.locus-alignment-content {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.1rem;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.popover {
  position: absolute !important;
  display: none;
  background: #fff;
  border: 1px solid #999;
  padding: 10px;
  width: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  white-space: nowrap;
}

.popover:after, .popover:before {
  right: 100%;
  border: solid transparent;
  content:" ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.popover:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}

.popover:before {
  border-color: rgba(201, 201, 201, 0);
  border-right-color: #c9c9c9;
  border-width: 11px;
  top: 50%;
  margin-top: -11px;
}

.close {
  position: absolute;
  top: -5px;
  right: 1px;
}

.popover-content a {
  color: #0000EE;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
}

.popover-content hr {
  padding: 0px;
  margin: 0px;
}

.pval-threshold-input-field {
  width: 180px !important;
}