.locus-table-result-tab {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.locus-table-content {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1.1rem;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.variant-details-table-container {
  overflow-x: auto !important;
}

.variant-details-table a {
  color: #0000EE;
  text-decoration: underline;
  cursor: pointer;
}

.export-variant-details-table {
  text-align: center;
  vertical-align: middle;
}

.export-variant-details-table a {
  color: #0000EE;
  text-decoration: underline;
  cursor: pointer;
  /* font-weight: bold; */
}

/* .variant-details-headers {
  font-size: large !important;
} */

.mat-header-cell {
  font-size: 13px !important;
  font-weight: bold !important;
  color: black !important;
}

.mat-cell {
  /* padding: 0 6px 0 6px !important; */
  padding-left: 6px;
}