.locus-table-result-tab {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.variant-details-table-container {
  overflow-x: auto !important;
}

.variant-details-table a {
  color: #0000EE;
  text-decoration: underline;
  cursor: pointer;
  /* font-weight: bold; */
}

/* .variant-details-headers {
  font-size: large !important;
} */

.mat-header-cell {
  font-size: 13px !important;
  font-weight: bold !important;
}

.mat-cell {
  /* padding: 0 6px 0 6px !important; */
  padding-left: 6px;
}