<div 
  class="alert alert-danger" 
  role="alert"  
  *ngIf="errorMessage">
  Unable to calculate: {{errorMessage}} — please check input files. Reset form to try again.
</div>

<div 
  id="warningAlert" 
  class="alert alert-warning alert-dismissible fade show" 
  role="alert"  
  *ngIf="warningMessage">
  Warning: {{warningMessage}}
  <button 
    type="button" 
    class="close" 
    data-dismiss="alert" 
    aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!-- Inputs -->
<div class="container border border-light rounded p-3" id="inputs">
  <form class="row" [formGroup]="eqtlForm" id="input-files">

    <!-- Expression Data File -->
    <div class="col">
      <div class="row" id="input-files">
        <div class="col-sm">
          Expression Data File<span style="color:red">*</span>
          <div class="d-block d-md-none w-100"></div>
          <input required 
            type="file" 
            formControlName="expressionFile"  
            class="ng-hide" 
            id="expression-file" 
            name="input-files" 
            accept=".txt" 
            hidden 
            #expressionInput>
          <button 
            style="width:120px; overflow:hidden; text-overflow:ellipsis;" 
            (click)="expressionInput.click()" 
            [disabled]="resultStatus" 
            class="ml-3 mr-3" 
            mat-raised-button>
            <!-- {{ eqtlForm.value?.expressionFile[0]?.name || 'Choose File' }} -->
            <!-- {{ eqtlForm.value.expressionFile[0]
                ? eqtlForm.value.expressionFile[0].name.substring(0, 11)
                : 'Choose File' }} -->
            {{ !eqtlForm.value.expressionFile ? 'Choose File' : ('File Selected' || 'Choose File') }}
          </button>
          <div class="d-block d-md-none w-100"></div>
          <i class="fas fa-download mr-1"></i><a href="/src/assets/files/1q21_3.expression.txt" download>Sample</a>
        </div>
      </div>
      <div class="row">
        <div 
          class="text-secondary" 
          style="margin-left:150px; padding-top:5px; overflow:hidden; text-overflow:ellipsis;">
          {{ !eqtlForm.value.expressionFile ? '' : (eqtlForm.value?.expressionFile[0]?.name || '') }}
        </div>
      </div>
    </div>

    <div class="d-block d-md-none w-100 mt-2 mb-2 border border-light"></div>

    <!-- Genotype Data File -->
    <div class="col">
      <div class="row" id="input-files">
        <div class="col-sm">
          Genotype Data File<span style="color:red">*</span>
          <div class="d-block d-md-none w-100"></div>
          <input required 
            type="file" 
            formControlName="genotypeFile" 
            class="ng-hide" 
            id="genotype-file" 
            name="input-files" 
            accept=".txt" 
            hidden 
            #genotypeInput>
          <button 
            style="width:120px; overflow:hidden; text-overflow:ellipsis;" 
            (click)="genotypeInput.click()" 
            [disabled]="resultStatus" 
            class="ml-3 mr-3" 
            mat-raised-button>
            {{ !eqtlForm.value.genotypeFile ? 'Choose File' : ('File Selected' || 'Choose File') }}
          </button>
          <div class="d-block d-md-none w-100"></div>
          <i class="fas fa-download mr-1"></i><a href="/src/assets/files/1q21_3.genotyping.txt" download>Sample</a>
        </div>
      </div>
      <div class="row">
        <div 
          class="text-secondary" 
          style="margin-left:140px; padding-top:5px; overflow:hidden; text-overflow:ellipsis;">
          {{ !eqtlForm.value.genotypeFile ? '' : (eqtlForm.value?.genotypeFile[0]?.name || '') }}
        </div>
      </div>
    </div>

    <div class="d-block d-md-none w-100 mt-2 mb-2 border border-light"></div>

    <!-- Association Data File -->
    <div class="col">
      <div class="row" id="input-files">
        <div class="col-sm">
          Association Data File<span style="color:red">*</span>
          <div class="d-block d-md-none w-100"></div>
          <input required 
            type="file" 
            formControlName="associationFile"
            class="ng-hide" 
            id="association-file" 
            name="input-files" 
            accept=".txt" 
            hidden 
            required 
            #associationInput>
          <button 
            style="width:120px; overflow:hidden; text-overflow:ellipsis;" 
            (click)="associationInput.click()" 
            [disabled]="resultStatus" 
            class="ml-3 mr-3" 
            mat-raised-button>
            {{ !eqtlForm.value.associationFile ? 'Choose File' : ('File Selected' || 'Choose File') }}
          </button>
          <div class="d-block d-md-none w-100"></div>
          <i class="fas fa-download mr-1"></i><a href="/src/assets/files/1q21_3.eQTL.txt" download>Sample</a>
        </div>
      </div>
      <div class="row">
        <div 
          class="text-secondary" 
          style="margin-left:155px; padding-top:5px; overflow:hidden; text-overflow:ellipsis;">
          {{ !eqtlForm.value.associationFile ? '' : (eqtlForm.value?.associationFile[0]?.name || '') }}
        </div>
      </div>
    </div>

    <div class="w-100"></div>

    <div class="d-block d-md-none w-100 mt-2 mb-2 border border-light"></div>

    <div class="col-sm">
      <!-- <div class="mt-3">{{ resultStatus }}</div> -->
    </div>
    <div class="col-sm">
      
    </div>

    <!-- Submit and Reset Button   -->
    <div class="col-sm text-center">
      <button 
        type="submit" 
        class="mt-3 mr-3" 
        [disabled]="(!eqtlForm.valid || resultStatus)" 
        mat-raised-button color="primary" 
        (click)="submit()">
        Calculate
      </button>
      <button 
        type="reset" 
        class="mt-3" 
        mat-raised-button 
        (click)="reset()" 
        [color]="resetColor">
        Reset
      </button>
    </div>
  </form>
</div>


 

