#inputs {
    font-size: 9pt;
    font-weight: bold;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

.fl {
    float: left;
    _display: inline;
}

.w-100 {
    width: 100%;
}

.bg-light-grey {
    background-color: #F8F9FA;
}

.bg-near-white {
    background-color: #f4f4f4;
}

.tc {
    text-align: center;
}

@media screen and (min-width: 30em) {
    .w-50-ns {
        width: 50%;
    }
}