<!-- Inputs -->
<div class="border border-light rounded p-3">
  <!-- <form class="row" [formGroup]="eqtlForm" id="input-files"> -->
  <form [formGroup]="eqtlForm" id="input-files">

    <!-- Checkboxes -->
    <div class="eqtl-inputs" id="eqtl-input-checkboxes">
      <mat-checkbox
        (change)="loadBoxplotData()" 
        [checked]="(selectLoadBoxplotData || (eqtlForm.value.expressionFile && eqtlForm.value.genotypeFile))" 
        [disabled]="resultStatus" 
        color="primary">
        Load Boxplot data
      </mat-checkbox>
      <mat-checkbox 
        class="pl-4" 
        (change)="loadGWASData()" 
        [checked]="(selectLoadGWASData || eqtlForm.value.gwasFile)" 
        [disabled]="resultStatus" 
        color="primary">
        Load GWAS data
      </mat-checkbox>
    </div>

    <div class="w-100 mt-2 mb-2 border border-light"></div>

    <!-- Association Data File -->
    <div class="eqtl-inputs" id="eqtl-input-association-file">
      <div class="row mb-2">
        <div class="ml-3 datafile-title">
          Association Data File<span style="color:red">*</span>
        </div>
      </div>
      <div class="row mb-3">
        <input  
          type="file" 
          formControlName="associationFile"
          class="ng-hide" 
          id="association-file" 
          name="input-files" 
          accept=".txt" 
          hidden  
          #associationInput>
        <button 
          style="width:120px; overflow:hidden; text-overflow:ellipsis;" 
          (click)="associationInput.click()" 
          [disabled]="resultStatus" 
          class="ml-3 mr-3" 
          mat-stroked-button>
          Choose File
          <!-- {{ !eqtlForm.value.associationFile ? 'Choose File' : ('File Selected' || 'Choose File') }} -->
        </button>
        <div>
          <i class="fas fa-download mr-1"></i><a href="/src/assets/files/1q21_3.eQTL.txt" download>Sample</a>
          <br>
          <div 
            class="text-secondary" 
            style="overflow:hidden; text-overflow:ellipsis;">
            {{ !eqtlForm.value.associationFile ? '' : (eqtlForm.value?.associationFile[0]?.name || '') }}
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 mt-2 mb-2 border border-light"></div>

    <!-- Expression Data File -->
    <div class="eqtl-inputs disabled-overlay" id="eqtl-input-expression-file">
      <div class="row mb-2">
        <div class="ml-3 datafile-title">
          Expression Data File<span *ngIf="(selectLoadBoxplotData || (eqtlForm.value.expressionFile && eqtlForm.value.genotypeFile))" style="color:red">*</span>
        </div>
      </div>
      <div class="row mb-3">
        <input 
          type="file" 
          formControlName="expressionFile"  
          class="ng-hide" 
          id="expression-file" 
          name="input-files" 
          accept=".txt" 
          hidden 
          #expressionInput>
        <button 
          style="width:120px; overflow:hidden; text-overflow:ellipsis;" 
          (click)="expressionInput.click()" 
          [disabled]="resultStatus" 
          class="ml-3 mr-3" 
          mat-stroked-button>
          Choose File
          <!-- {{ !eqtlForm.value.expressionFile ? 'Choose File' : ('File Selected' || 'Choose File') }} -->
        </button>
        <div>
          <i class="fas fa-download mr-1"></i><a href="/src/assets/files/1q21_3.expression.txt" download>Sample</a>
          <br>
          <div 
            *ngIf="(selectLoadBoxplotData || (eqtlForm.value.expressionFile && eqtlForm.value.genotypeFile))" 
            class="text-secondary" 
            style="overflow:hidden; text-overflow:ellipsis;">
            {{ !eqtlForm.value.expressionFile ? '' : (eqtlForm.value?.expressionFile[0]?.name || '') }}
          </div>
          <div 
            *ngIf="(!selectLoadBoxplotData && (!eqtlForm.value.expressionFile || !eqtlForm.value.genotypeFile))" 
            class="text-secondary" 
            style="overflow:hidden; text-overflow:ellipsis;">
            {{ !eqtlForm.value.expressionFile ? '' : (eqtlForm.value?.expressionFile[0]?.name || '') }}
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 mt-2 mb-2 border border-light"></div>

    <!-- Genotype Data File -->
    <div class="eqtl-inputs disabled-overlay" id="eqtl-input-genotype-file">
      <div class="row mb-2">
        <div class="ml-3 datafile-title">
          Genotype Data File<span *ngIf="(selectLoadBoxplotData || (eqtlForm.value.expressionFile && eqtlForm.value.genotypeFile))" style="color:red">*</span>
        </div>
      </div>
      <div class="row mb-3">
        <input 
          type="file" 
          formControlName="genotypeFile" 
          class="ng-hide" 
          id="genotype-file" 
          name="input-files" 
          accept=".txt" 
          hidden 
          #genotypeInput>
          <button 
            style="width:120px; overflow:hidden; text-overflow:ellipsis;" 
            (click)="genotypeInput.click()" 
            [disabled]="resultStatus" 
            class="ml-3 mr-3" 
            mat-stroked-button>
            Choose File
            <!-- {{ !eqtlForm.value.genotypeFile ? 'Choose File' : ('File Selected' || 'Choose File') }} -->
          </button>
        <div>
          <i class="fas fa-download mr-1"></i><a href="/src/assets/files/1q21_3.genotyping.txt" download>Sample</a>
          <br>
          <div 
            *ngIf="(selectLoadBoxplotData || (eqtlForm.value.expressionFile && eqtlForm.value.genotypeFile))" 
            class="text-secondary" 
            style="overflow:hidden; text-overflow:ellipsis;">
            {{ !eqtlForm.value.genotypeFile ? '' : (eqtlForm.value?.genotypeFile[0]?.name || '') }}
          </div>
          <div 
            *ngIf="(!selectLoadBoxplotData && (!eqtlForm.value.expressionFile || !eqtlForm.value.genotypeFile))" 
            class="text-secondary" 
            style="overflow:hidden; text-overflow:ellipsis;">
            {{ !eqtlForm.value.genotypeFile ? '' : (eqtlForm.value?.genotypeFile[0]?.name || '') }}
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 mt-2 mb-2 border border-light"></div>

    <!-- GWAS Data File -->
    <div class="eqtl-inputs disabled-overlay" id="eqtl-input-gwas-file">
      <div class="row mb-2" id="input-files">
        <div class="ml-3 datafile-title">
          GWAS Data File<span *ngIf="(selectLoadGWASData || eqtlForm.value.gwasFile)" style="color:red">*</span>
        </div>
      </div>
      <div class="row mb-3">
        <input 
          type="file" 
          formControlName="gwasFile" 
          class="ng-hide" 
          id="gwas-file" 
          name="input-files" 
          accept=".txt" 
          hidden 
          #gwasInput>
          <!-- formControlName="gwasFile" -->
        <button 
          style="width:120px; overflow:hidden; text-overflow:ellipsis;" 
          (click)="gwasInput.click()" 
          [disabled]="resultStatus" 
          class="ml-3 mr-3" 
          mat-stroked-button>
          Choose File
          <!-- {{ !eqtlForm.value.gwasFile ? 'Choose File' : ('File Selected' || 'Choose File') }} -->
        </button>
        <div>
          <i class="fas fa-download mr-1"></i><a href="/src/assets/files/1q21_3.GWAS.txt" download>Sample</a>
          <br>
          <div 
            *ngIf="(selectLoadGWASData || eqtlForm.value.gwasFile)" 
            class="text-secondary" 
            style="overflow:hidden; text-overflow:ellipsis;">
            {{ !eqtlForm.value.gwasFile ? '' : (eqtlForm.value?.gwasFile[0]?.name || '') }}
          </div>
          <div 
            *ngIf="(!selectLoadGWASData && !eqtlForm.value.gwasFile)" 
            class="text-secondary" 
            style="overflow:hidden; text-overflow:ellipsis;">
            {{ !eqtlForm.value.gwasFile ? '' : (eqtlForm.value?.gwasFile[0]?.name || '') }}
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 mt-2 mb-2 border border-light"></div>

    <!-- Submit and Reset Button   -->
    <div class="eqtl-inputs" id="eqtl-input-submit-reset">
      <div class="row">
        <div class="col text-center">
          <button 
            type="submit" 
            class="mt-3 mr-3" 
            [disabled]="(!eqtlForm.valid || resultStatus)" 
            mat-raised-button color="primary" 
            (click)="submit()">
            Calculate
          </button>
          <button 
            type="reset" 
            class="mt-3" 
            mat-raised-button 
            (click)="reset()" 
            [color]="resetColor">
            Reset
          </button>
        </div>
      </div>
    </div>
  </form>
</div>


 

