/* You can add global styles to this file, and also import other style files */

/* Angular Material's Prebuilt Theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  height: 100vh;
  min-height: 100vh;
}

/* Bootstrap overrides */

.bg-primary, .btn-primary {
  background-color: #2a71a5;
}

.bg-primary-light, .btn-primary-light {
  background-color: #2a7bb2;
}

a {
  color: #00A2EC;
}

.bg-light {
  background-color: #f7f7f1 !important;
}

.bg-white {
  background-color: white !important;
}

.bg-dark-gradient {
  background: linear-gradient(to bottom, #363636 0%, #4a4a4a 100%);
  background-color: #363636;
}

.bg-blue {
  background-color: #2a71a5;
}

.bg-dark-blue {
  background-color: #123E57
}

.bg-dark-red {
  background-color: #BB0E3D;
}

.vh-100 {
  height: 100vh;
}

.flex-auto {
  flex: 1 0 auto;
}

.flex-none {
  flex: none;
}

 /** Override navbar defaults */
.navbar {
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 0;
  padding-top: 0;
}

/** Remove border for responsive menu button */
.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-nav li a {
  border: 3px solid transparent;
  border-right: none;
  border-left: none;
}

/* Create yellow bar on active nav button */
.navbar-nav li a.active {
  border-bottom: 3px solid #F5Ab35;
}

/** Create additional padding for responsive menu */
@media (max-width: 575px) {
  .navbar-collapse.collapse {
    padding-bottom: 15px;
  }
}


/** Change cursor to pointer for checkboxes */
.form-check > input,
.form-check > label {
  cursor: pointer;
}

/** Lower checkboxes by an additional 0.05 rem */
.form-check-input {
  margin-top: 0.35rem;
}

/** Override link styles for inline lists */
.list-inline > li a {
  color: #fafafa;
  font-weight: 600;
}

/** Override figure caption font */
.figure-caption {
  color: #43484b;
  font-size: 100%;
  font-weight: 600;
  line-height: 1.5;
}



/**
 * Custom styles
 */

/** Textareas have a minimum height and can only be resized vertically */
textarea {
  resize: vertical;
  min-height: 40px;
}

/** Adds a box shadow */
.box-shadow {
  box-shadow: 0px 4px 16px 4px #888;
}

/** Hide error messages by default */
.error-messages {
  display: none;
}

/** Show error messages only if the parent has the '.invalid' class */
.invalid .error-messages {
  display: block;
}

/** Highlight invalid input elements only if their parent has the '.invalid' class */
.invalid input:invalid,
.invalid textarea:invalid {
  background-color: #FFFF99;
}

/** Put an asterisk after any elements that have the '.asterisk' class */
.asterisk:after {
  content: ' *';
  color: red;
}

/** Ensure that .disabled elements are positioned below any overlays */
.disabled {
  position: relative;
  z-index: 0;
}

/** Create an overlay that blocks interaction with .disabled elements */
.disabled:after {
  background-color: white;
  content: ' ';
  cursor: not-allowed;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: 1;
}

/** Creates an overlay that covers the entire screen */
.fullscreen-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.7;
  color: #666;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 19999;
}

/** Adds a spin animation to the element */
.spinner {
  animation: spin 1s infinite linear;
}

/** Spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.populationPanel {
  min-width: 500px !important;
  min-height: 500px !important;
}