*,
::after,
::before {
  outline: none;
}

// higher contrast selection
::selection {
  color: white;
  background: $primary-darker;
}

body {
  min-width: 400px;
}

// hr {
//     border-top: 1px solid #dee2e6;
// }

legend {
  width: inherit;
}

.bg-primary-darker {
  background-color: $primary-darker !important;
}

.bg-primary-gradient {
  background: linear-gradient(45deg, $primary, $primary-darker) !important;
}

.alert-dismissible .close {
  padding: 0 0.25rem;
}

.btn {
  font-weight: 500;
}

.btn-link {
  all: unset;
  color: #185394;
  // text-decoration: underline;
}

.form-label {
  font-weight: 500;
}

.nav-link {
  // font-weight: 500;
  border-bottom: 7px solid transparent;
  border-top: 7px solid transparent;
}

.navbar-dark {
  .navbar-toggler {
    border: none;
  }

  .navbar-nav .nav-link {
    color: white;
    transition: all 0.1s;
    &.active {
      border-bottom-color: #f5ab35;
    }
  }
}

.card-header-tabs.nav-tabs .nav-item .nav-link {
  border-bottom-width: 2px;
  border-color: transparent;
  &:hover,
  &:focus,
  &.active {
    color: black;
    background-color: $card-cap-bg;
    border-bottom-color: $primary;
  }
}

.custom-checkbox
  .custom-control-input:disabled:checked
  ~ .custom-control-label::before,
.custom-checkbox
  .custom-control-input[readonly]:checked
  ~ .custom-control-label::before {
  background-color: rgba(24, 83, 148, 0.5);
}

.legend {
  font-size: 1rem;
  white-space: nowrap;
}

input[type='number'].no-spinner {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button.no-spinner,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-bootstrap-table table {
  table-layout: auto;
}

.react-bootstrap-table-pagination {
  margin: 0;
}

.table.table-bordered {
  th {
    border-top: 1px solid #dee2e6;
  }
}

.table-nowrap {
  td,
  th {
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// .nav-tabs .nav-link.active {
//   font-weight: bold;
// }

.nav-tabs .nav-link {
  margin-left: 1px;
  margin-right: 1px;
}

.nav-item.nav-link.active {
  text-decoration: underline 2px #f5ab35;
  text-underline-offset: 5px;
}
