<div class="d-flex justify-content-center" *ngIf="!locusAlignmentBoxplotsData" id="locus-alignment-boxplots-results">
  <mat-spinner></mat-spinner>
</div>

<!-- Show centered Plotly locus quantification boxplot if graph is generated -->
<div 
  class="d-flex justify-content-center" 
  id="qtls-locus-alignment-boxplots" 
  *ngIf="graph">
  <plotly-plot 
    id="locus-alignment-boxplots" 
    [data]="graph.data" 
    [layout]="graph.layout" 
    [config]="graph.config">
  </plotly-plot>
</div>

<!-- <pre>{{ boxplotData | json }}</pre> -->

<!-- <br> -->

<!-- <pre>{{ boxplotDataDetailed | json }}</pre> -->

<!-- <br> -->

<!-- <pre>{{ locusAlignmentBoxplotsData | json }}</pre> -->